:root {
  box-sizing: border-box;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colour-theme */
  --jet: #323031ff;
  --jet-2: #3d3b3cff;
  --jet-body: rgb(38, 36, 37);
  --silver: #c1bdb3ff;
  --cerulean: #007ea7ff;
  --cerulean-2: rgb(73, 210, 255);
  --rust: #bc3908ff;

  background-color: var(--jet);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
}

/* debugging*/
* {
  /* outline: 1px solid grey; */
}
